<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A11y</title>
  </head>
  <body>
    <header>
      <%- include('../partials/navbar'); %>
    </header>
    <main>
      <h1>Welcome!</h1>
      <p>
        This project houses a collection of frontend web accessibility implementations using HTML + Javascript. <br/><br/>
        In the interest of readability, I've included relevant Javascript/CSS code within the same HTML file via <code>script</code>/<code>style</code> tags. 
        This is NOT a showcase of proper ejs + express nor HTML structure and I would not look at it as such.
        I recommend studying each component modularly in their respective ejs files to get the most value.
      </p>
    </main>
  </body>
</html>