<!-- 
  Basic labeled inputs
-->

<!-- Text input -->
<label for="input-basic-text1">Firstname: </label>
<input id="input-basic-text1" type="text" name="firstname">
<br/>

<!-- Text input alternate -->
<label>
  Lastname: 
  <input type="text" name="lastname">
</label>
<br/>

<!-- Checkbox -->
<input id="input-basic-checkbox" type="checkbox" name="accept">
<label for="input-basic-checkbox">I like dogs</label>
<br/>

<!-- Checkbox alternate -->
<label>
  <input type="checkbox" name="accept">
  I like cats
</label>
<br/>


